
.nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    z-index: 100;
    
    &.sticky {
    background-color: $white;
    padding: .5rem 0;

    a {

        color: $textPrimary;
    }

    }

    .logo {
      position: absolute;
      left: 1rem;
      width: 45px;
      height: 45px;
      padding-top: .3rem;
      padding-left: .2rem;
      border-radius: 8px;
      background: $Gradient;
    } 

    .toggler {
      display: none;
      position: absolute;
      right: 1rem;
      transition: $transition;
    }

    ul {
     width: 70%;
     justify-content: space-between;

     li {
         font-weight: 600;
         font-size: 1.3rem;
         

        a {
            display: inline-block;
            color: $white;
            position: relative;
            transition: $transition;
            padding-bottom: .6rem;

            &:hover {
                font-weight: 500;
            }

            &.active {
 
            &::before {
                content: '';
                position: absolute;
                width: 20px;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                background: $textPrimary;
                height: 10px;
            }
        }
            
        }

      
     }
    }

}


// mobile Navigation
.mobi-nav {
    position: fixed;
    inset:4rem 0 0 40%;
    z-index: 90;
    display: none;
    justify-content: center;
    background: hsla(0, 0, 0, 0.5);
    transform: translateX(100%);
    opacity: 0;
    transition: $transition;
    border-radius: $radius / 8;

    &.active {
        opacity: 1;
        transform: translateX(0);
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        padding: 2rem;

         a {
            text-decoration: none;
            color: $white;
            font-size: 1.2rem;
            font-weight: 500;

            &:hover {
                color: #333;
            }
        }
    }
}

@supports (backdrop-filter: blur(1rem)) {
    .mobi-nav {
        background: hsla(0, 0, 100, 0.1);
        backdrop-filter: blur(1rem);
    }
}

  // Header
  .header {

    margin-top: 4rem;

    &__btn {
        display: inline-block;
        background-color: $clrSecondary;
        font-weight: 500;
        margin-top: 1em;

        span {
        margin-right: .5em;

        }
        img {
            display: inline-block;
            width: 1.2rem;
        }

        &:hover {
            background-color: $white;
        }
    }
    &__intro {
      margin-top: 2.3rem;
      padding: 0 1.4rem;

    }
    

    .highlight {
        color: $clrSecondary;
        
      }
    
}
     
@media (max-width: 700px) {

    .nav {
        background-color: $white;
        justify-content: space-between;
        flex-direction: column;
        ul {
            opacity: 0;
           
    }

    .toggler {
        display: block;
      }
}

.mobi-nav {
    display: block;
}
}