@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.sidebar {
    position: fixed;
    right: 0;
    height: 100%;
    width: 78px;
    background: hsla(245, 29%, 9%, 0.712);
    padding: .2rem 1rem;
    transition: all 0.5s ease;
}

/* We will be adding .active class to any element we want to modify when toggling the sidebar*/

.sidebar.active {
        width: 240px;

}

.sidebar .logo_content .logo {
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none ;
}

 .logo_content .logo img {
    margin-right: 5px;
}

.logo_content .logo_name {
    font-size: 1.1rem;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: white;
    left: 50%;
    top: .9em;
    cursor: pointer;
    font-size: 1.1rem;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    position: absolute;
    left: 90%;
}

.sidebar .nav_list {
    margin-top: 1.2rem;
    list-style-type: none ;
}

.nav_list li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 10px 5px;
    line-height: 50px;
    
}

.nav_list li .tooltip {
    position: absolute;
    right: 1rem;
    top: 0;
    transform: translate(-50%,-50%);
    height: 35px;
    width: 122px;
    background: white;
    color: #333;
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.233);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .nav_list li .tooltip {
    display: none;
}

.nav_list li:hover .tooltip {
    top:50%;
    transition: all 0.5s ease;
    opacity: 1;
}

.nav_list li input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 12px;
    background: hsla(245, 29%, 15%, 0.438);
    padding-left: 50px;
    font-size: 1.4em;
    color: white;
}

.nav_list li:first-child {
    margin-bottom: 1.2em;
}

.nav_list a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.nav_list a:hover {
    color: hsla(245, 29%, 9%, 0.712);
    background: hsl(0, 5%, 64%);
    border-radius: 12px;
    
}


.nav_list li img {
    min-width: 2em;
    margin-right: 1rem;
    line-height: 50px;
    border-radius: 12px;
    text-align: center;
    
}

.nav_list li .bx-search {
        position: absolute;
        z-index: 100;
        top: 9px;
        left: 5px;
        transition: all 0.5s ease;
}

.nav_list li .bx-search:hover {
    background: hsl(0, 5%, 64%);;
    color: hsla(245, 29%, 15%, 0.438);
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name {
    opacity: 1;
}

.profile_content {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    background: hsla(245, 29%, 15%, 0.438);
    
}

.profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    
}

.profile_content .profile .profile-details {
    display: flex;
    align-items: center;
    opacity: 0;
    white-space: nowrap;
}

.sidebar.active .profile_content .profile .profile-details {
    opacity: 1;
}

.profile-details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile-details .name_job {
    margin-left: .8em;
}

.profile #logout {
    position: absolute;
    left: 40%;
    bottom: 10px;
    line-height: 50px;
    transform: rotate(0);
    transition: transform 0.8s ease;
    cursor: pointer;
}

.sidebar.active #logout {
    left: 84%;
    transform: rotate(180deg);
}
