
// Colors and Background-colors


$Gradient: linear-gradient(to right,#e5f7e1, #c0ecf9 , #d1d7f8);

$red: #FA0F00;
$yellow: #FFDD00;
$white: #ffffff;
$clrSecondary: hsl(209, 78%, 73%); 
$clrPrimary: hsla(209, 43%, 16%, 0.7);
$textPrimary: hsl(214, 32%, 51%);

// fonts and others
$line: 1.5;
$font-primary:'Zen Kaku Gothic New', sans-serif;
$font-secondary: 'Ubuntu Condensed', sans-serif;

$spacing: 0.25rem;
$transition: all 0.3s linear;
$radius: 50px;